In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import math

#Reading and assigning headers to training data
adult_data = pd.read_csv("adult.data")
adult_data.columns = ["age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "salary-status"]
adult_data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary-status
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [2]:
#Encoding

categorical_variables = ["workclass", "education", "marital-status", "occupation", "relationship", "race", "sex", "native-country", "salary-status"]

for category in categorical_variables:
    dummies = pd.get_dummies(adult_data[category], prefix = category, drop_first = True)
    adult_data = pd.concat([adult_data, dummies], axis = 1)
    adult_data.drop([category], axis = 1, inplace = True)

In [3]:
#Dropped a column to match number of columns in encoded test set

adult_data = adult_data.drop(["native-country_ Holand-Netherlands"], axis = 1)
adult_data.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,...,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia,salary-status_ >50K
0,50,83311,13,0,0,13,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,38,215646,9,0,0,40,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
2,53,234721,7,0,0,40,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
3,28,338409,13,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,37,284582,14,0,0,40,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0

In [4]:
test_data = pd.read_csv("adult.test")
test_data.columns = ["age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "salary-status"]

In [5]:
#Encoding
categorical_variables = ["workclass", "education", "marital-status", "occupation", "relationship", "race", "sex", "native-country", "salary-status"]

for category in categorical_variables:
    dummies = pd.get_dummies(test_data[category], prefix = category, drop_first = True)
    test_data = pd.concat([test_data, dummies], axis = 1)
    test_data.drop([category], axis = 1, inplace = True)

In [6]:
X_train = adult_data.iloc[ : , : -1]
y_train = adult_data.iloc[ : , -1]

X_test = test_data.iloc[ : , : -1]
y_test = test_data.iloc[ : , -1]

In [7]:
from sklearn.naive_bayes import GaussianNB
logmodel = GaussianNB()

In [8]:
logmodel.fit(X_train, y_train)

GaussianNB(priors=None)

In [9]:
predictions = logmodel.predict(X_test)

In [10]:
from sklearn.metrics import confusion_matrix

In [11]:
confusion_matrix(y_test, predictions)

array([[11781,   653],
       [ 2673,  1173]], dtype=int64)

In [12]:
from sklearn.metrics import accuracy_score

In [13]:
accuracy_score(y_test, predictions)

0.79570024570024567